# LOGISTIC REGRESSION

### importing libraries

In [4]:
#importing libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn

In [5]:

from sklearn.linear_model import Ridge
from sklearn.metrics import f1_score as f1
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model import LogisticRegression as logreg

from sklearn.model_selection import KFold, StratifiedKFold, train_test_split
from sklearn.metrics import roc_auc_score ,roc_auc_score as auc, accuracy_score as acc, confusion_matrix, roc_curve, precision_score, recall_score, precision_recall_curve,average_precision_score,average_precision_score as aps,log_loss as ll

from pandas.core.common import SettingWithCopyWarning
import warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=SettingWithCopyWarning)

# random state

In [6]:
r=76

### importing data

In [7]:
sklearn.__version__

'0.24.1'

In [8]:
data = pd.read_csv('data_cleaned.csv')
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [9]:
target='Survived'         
model= logreg()

In [10]:
data.dtypes

Survived        int64
Age           float64
Fare          float64
Pclass_1        int64
Pclass_2        int64
Pclass_3        int64
Sex_female      int64
Sex_male        int64
SibSp_0         int64
SibSp_1         int64
SibSp_2         int64
SibSp_3         int64
SibSp_4         int64
SibSp_5         int64
SibSp_8         int64
Parch_0         int64
Parch_1         int64
Parch_2         int64
Parch_3         int64
Parch_4         int64
Parch_5         int64
Parch_6         int64
Embarked_C      int64
Embarked_Q      int64
Embarked_S      int64
dtype: object

### segegating variables

In [11]:
#seperating independent and dependent variables
x = data.drop([target], axis=1)
y = data[target]
x.shape, y.shape

((891, 24), (891,))

In [12]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [13]:
data.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

### splitting data

In [14]:
# Importing the train test split function
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=1/4,random_state= r)
train_x,val_x,train_y,val_y= train_test_split(train_x, train_y, test_size=1/3,random_state=r)

In [15]:
cols = train_x.columns
cols

Index(['Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female',
       'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4',
       'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3',
       'Parch_4', 'Parch_5', 'Parch_6', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

### scaling data

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [17]:
train_x = pd.DataFrame(scaler.fit_transform(train_x),columns=cols)
test_x = pd.DataFrame(scaler.fit_transform(test_x),columns=cols)
val_x = pd.DataFrame(scaler.fit_transform(val_x),columns=cols)

In [18]:
# Fitting the model
model.fit(train_x, train_y)

LogisticRegression()

### Making predictions using *predict_proba* function

In [19]:
#train

In [20]:
# Predicting over the Train
train_predict = model.predict_proba(val_x)
train_preds = train_predict[:,1]
train_pred=train_preds

break value of predicted values to make them 0 or 1 depending if their predicted probabilities are lesser or greater than break value ,we use different break values to see where the evaluation metric is most satisfied and that is right break value

the code gives the best breakvalue = breakval_ corresponding to the eval metrics in thresh_metric

update thresh_metric, threshlist ,scorelist,threshlist1 ,scorelist1 and breakval1(initialization only) to use desired eval metrics to compute best break value

 the values of eval metric in thresh_metric corresponding to those of breakval list is in threshlist

In [ ]:
the best metric for threshhold evaluation is auc

In [21]:
thresh_metric=['auc']

In [22]:
tc=-1
breakval_=[]
indexlist1=[]
indexlist=[]
breakval1=[[],[],[]]
corrscorelist=[]

for k in thresh_metric:
 tc=tc+1
 breakval=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
 
 auclist=[]
 threshlist=[auclist]
 for j in breakval:
  for i in range(0, len(train_preds)):
   if(train_preds[i]>j):
    train_pred[i] = 1
   else:
    train_pred[i] = 0

  auc=roc_auc_score(val_y, train_pred)
  scorelist=[auc]
  threshlist[tc].append(scorelist[tc])
  train_preds = model.predict_proba(val_x)[:,1]
 max=0
 c=-1

 for i in threshlist[tc]:
  c=c+1 
  
  if (i>max):
    index=c
    max=i   
 indexlist.append(index)

 auclist1=[]
 threshlist1=[auclist1]
 a=breakval[indexlist[tc]]-breakval[indexlist[tc]]/10
 breakval1[tc]=[]
 while a<(breakval[indexlist[tc]]+breakval[indexlist[tc]]/10):
  for i in range(0, len(train_preds)):
   if(train_preds[i]>a):
    train_pred[i] = 1
   else:
    train_pred[i] = 0
    
  auc1=roc_auc_score(val_y, train_pred)
  
  scorelist1=[auc1]
  a=a+breakval[indexlist[tc]]/100
  threshlist1[tc].append(scorelist1[tc])
  breakval1[tc].append(a)
 max=0
 c1=-1
 for i in threshlist1[tc]:
  c1=c1+1 
  
  if (i>max):
    
    index1=c1
    max=i
 indexlist1.append(index1)
 
 breakval_.append(breakval1[tc][indexlist1[tc]])
 for i in range(0, len(train_preds)):
  if(train_preds[i]>breakval_[tc]):
    train_pred[i] = 1
  else:
    train_pred[i] = 0
 corrscore=threshlist1[tc][indexlist1[tc]]
 corrscorelist.append(corrscore)                         
 print(" at break value of ",breakval_[tc],"the "+str(k)+" score attains a maximum of",corrscore)

 at break value of  0.38800000000000007 the auc score attains a maximum of 0.7595907928388745

In [23]:
threshtable=pd.DataFrame([breakval_,corrscorelist],columns=thresh_metric,index=['breakvalue','corresponding score'])
threshtable

                          auc
breakvalue           0.388000
corresponding score  0.759591

In [24]:
indexlist1

[6]

In [25]:
breakval1

[[0.36400000000000005,
  0.36800000000000005,
  0.37200000000000005,
  0.37600000000000006,
  0.38000000000000006,
  0.38400000000000006,
  0.38800000000000007,
  0.39200000000000007,
  0.3960000000000001,
  0.4000000000000001,
  0.4040000000000001,
  0.4080000000000001,
  0.4120000000000001,
  0.4160000000000001,
  0.4200000000000001,
  0.4240000000000001,
  0.4280000000000001,
  0.4320000000000001,
  0.4360000000000001,
  0.4400000000000001],
 [],
 []]

In [26]:
breakval_

[0.38800000000000007]

#### predicted probabilities become 0 or 1 depending if they are lesser or greater than break value=breakval_

In [27]:

for i in range(0, len(train_preds)):
   if(train_preds[i]>breakval_):
    train_pred[i] = 1
   else:
    train_pred[i] = 0

## N FOLD CROSS VALIDATION

### to change eval metric throughout the code make corresponding changes in the eval_metric and cv_score() and eval_score()

In [28]:

nfold=9
eval_metric=['recall','f1']

the function takes the ml algorithm,columns of datatable and the break value as parameter . function randomly chooses nfold sets of train and validation sets where in each fold val set is complement of train set and the union of validation sets in all folds gives the dataset itself . each fold is trained on train set and tested on validation set and gives a set of evaluation metric scores

In [29]:

def cv_score(ml_model=model, rstate = r, thres = breakval_, cols = x.columns.tolist()):
    i = 1
    cv_scores = []
    df1 = data.copy()
    df1 = data[cols]
    recalllist,f1list=[[],[]]
    indexlist=[]
    
    # 5 Fold cross validation stratified on the basis of target
    kf = StratifiedKFold(n_splits=nfold,random_state=rstate,shuffle=True)
    for df_index,test_index in kf.split(df1,y):
        
        xtr,xvl = [df1.loc[df_index],df1.loc[test_index]]
        ytr,yvl = [y.loc[df_index],y.loc[test_index]]
            
        # Define model for fitting on the training set for each fold
        model = ml_model
        model.fit(xtr, ytr)
        pred_probs = model.predict_proba(xvl)
        pp = []
         
        # Use threshold to define the classes based on probability values
        for j in pred_probs[:,1]:
            if j>thres:
                pp.append(1)
            else:
                pp.append(0)
         
        # Calculate scores for each fold and print
        pred_val = pp
        
        recall = recall_score(yvl,pred_val)
        f1score=f1(yvl,pred_val)
      
    
        recalllist.append(recall)
        f1list.append(f1score)
        
         # Save scores
        indexlist.append(("kfold "+str((i))))
        i=i+1
        
    cv_score=pd.DataFrame([recalllist,f1list],index=eval_metric,columns=indexlist)
    return cv_score

In [30]:
cv_score()

,kfold 1,kfold 2,kfold 3,kfold 4,kfold 5,kfold 6,kfold 7,kfold 8,kfold 9
recall,0.710526,0.684211,0.815789,0.789474,0.684211,0.815789,0.763158,0.789474,0.842105
f1,0.720000,0.666667,0.746988,0.789474,0.675325,0.756098,0.716049,0.750000,0.761905

In [31]:

    def eval_score(ml_model=model, rstate = r, thres = breakval_, cols =x.columns.tolist()):
        i = 1
        eval_scores = []
        
       
        indexlist=[]
    
        # Define model for fitting on the training set for each fold
        model = ml_model
        model.fit(train_x[cols],train_y)
        pred_probs = model.predict_proba(val_x[cols])
        pp = []
         
        # Use threshold to define the classes based on probability values
        for j in pred_probs[:,1]:
            if j>thres:
                pp.append(1)
            else:
                pp.append(0)
         
        # Calculate scores for each fold and print
        pred_val = pp
        recall = recall_score(val_y,pred_val)
        f1score=f1(val_y,pred_val)
         # Save scores
        indexlist.append(("kfold "+str((i))))
        i=i+1
        
        eval_score=pd.DataFrame([recall,f1score],index=eval_metric,columns=['score'])
        return eval_score

In [32]:
eval_score()

           score
recall  0.823529
f1      0.710660

this is a ranking of features based on how significant they are to our analysis according to RFE

In [33]:
from sklearn.feature_selection import RFE

# Create the RFE object and rank each feature

rfe = RFE(estimator=model, n_features_to_select=1, step=1)
rfe.fit(train_x, train_y)
ranking_df = pd.DataFrame()
ranking_df['Feature_name'] = x.iloc[0,].index
ranking_df['Rank'] = rfe.ranking_
ranked = ranking_df.sort_values(by=['Rank'])

In [39]:
ranked

   Feature_name  Rank
5    Sex_female     1
2      Pclass_1     2
0           Age     3
11      SibSp_4     4
10      SibSp_3     5
6      Sex_male     6
8       SibSp_1     7
23   Embarked_S     8
4      Pclass_3     9
13      SibSp_8    10
20      Parch_6    11
9       SibSp_2    12
7       SibSp_0    13
15      Parch_1    14
21   Embarked_C    15
1          Fare    16
18      Parch_4    17
17      Parch_3    18
14      Parch_0    19
16      Parch_2    20
3      Pclass_2    21
22   Embarked_Q    22
19      Parch_5    23
12      SibSp_5    24

In [40]:

def noof_features_metric(nrank):
  sco_featlist=[]
  for i in eval_metric:
    sco_feat=eval_score(cols = ranked['Feature_name'].iloc[:(nrank)].values.tolist()).score[i]
    sco_featlist.append(sco_feat)
  return pd.DataFrame(sco_featlist,index=eval_metric,columns=["rfe top"+str(nrank)])

calculating no of top features to be taken in the model(acc to rfe) with respect to a evaluation metric which maximises that particular evaluation metric

In [36]:
topn_feat=0
c=-1
topfeatlist=[]
topfeatscorelist=[]
for i in eval_metric:
 c=c+1
 score=0
 max=0
 for j in range(1,len(x.columns.tolist())):
  score=noof_features_metric(j).iloc[c].values
  if(score>max):
    max=score
    topn_feat=j
 topfeatlist.append(topn_feat)
 topfeatscorelist.append(max)
topfeat=pd.DataFrame([topfeatlist,topfeatscorelist],columns=eval_metric,index=["rfe top feat","corresponding score"])

In [37]:
topfeat

                                   recall                    f1
rfe top feat                           19                    19
corresponding score  [0.8235294117647058]  [0.7106598984771573]

# test

## with main columns with respect to each evaluation metric

In [38]:
predicted_wrt_evaluationmetrics=[]
f1score,recalllist,test_colslist, topncollist,indexlist=[[],[],[],[],[]]
for i in range(len(eval_metric)):
 testmetric=eval_metric[i]
 topn_feat=topfeat[testmetric][0]
 test_cols= ranked['Feature_name'].iloc[:(topn_feat)].values.tolist()
 from sklearn.model_selection import train_test_split
 
 train_x_cols,test_x_cols,train_y,test_y = train_test_split(x[test_cols],y,test_size=1/4, random_state=r)
 train_x_cols,val_x_cols,train_y,val_y= train_test_split(train_x_cols, train_y, test_size=1/3, random_state=r)
 train_x_cols = pd.DataFrame(scaler.fit_transform(train_x_cols),columns=test_cols)
 test_x_cols = pd.DataFrame(scaler.fit_transform(test_x_cols),columns=test_cols)

 model.fit(train_x_cols,train_y)
 test_predict = model.predict_proba(test_x_cols)
 test_preds_cols=test_predict[:,1]
 test_pred_cols=test_preds_cols

 for i in range(0, len(test_preds_cols)):
  if(test_preds_cols[i]>breakval_):
    test_pred_cols[i] = 1
  else:
    test_pred_cols[i] = 0
    
 f1sco= f1(test_y,test_pred_cols)
 recall1 = recall_score(test_y,test_pred_cols)
 f1score.append(f1sco)
 recalllist.append(recall1)
 indexlist.append(i)
 topncollist.append(topn_feat)
 test_colslist.append(test_cols)
 predicted_wrt_evaluationmetrics.append(test_pred_cols)
 
 print("the f1 score has top "+str(topfeat[testmetric][0])+" features (chosen by rfe) where the evaluation metric "+str(testmetric)+" reaches the highest score: "+str(topfeat[testmetric][1])+" compared to other combination of feature used to make the model =", f1sco,end= '\n')
 cf= confusion_matrix(test_y, test_pred_cols)
 print( "confusion matrix is : ",cf)

the f1 score has top 19 features (chosen by rfe) where the evaluation metric recall reaches the highest score: [0.82352941] compared to other combination of feature used to make the model = 0.7666666666666666
confusion matrix is :  [[112  23]
 [ 19  69]]
the f1 score has top 19 features (chosen by rfe) where the evaluation metric f1 reaches the highest score: [0.7106599] compared to other combination of feature used to make the model = 0.7666666666666666
confusion matrix is :  [[112  23]
 [ 19  69]]

In [215]:
testtable=pd.DataFrame([topncollist,test_colslist,recalllist,f1score],index=['topn cols (rfe) which maximizes respective column metric','name of above cols','recall of above cols','f1score of above cols'],columns=eval_metric)

In [216]:
testtable

,recall,f1
topn cols (rfe) which maximizes respective column metric,19,19
name of above cols,"[Sex_female, Pclass_1, Age, SibSp_4, SibSp_3, ...","[Sex_female, Pclass_1, Age, SibSp_4, SibSp_3, ..."
recall of above cols,0.784091,0.784091
f1score of above cols,0.766667,0.766667

In [41]:
print("the model below has been predicted by topn cols (rfe) wrt to maximizing ", eval_metric[0],end='\n')

the model below has been predicted by topn cols (rfe) wrt to maximizing  recall

In [42]:
predicted_wrt_evaluationmetrics[0]

array([1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0.,
       1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0.,
       0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0.,
       1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0.,
       0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0.,
       1., 1.])

In [43]:
print("the model below has been predicted by topn cols (rfe) wrt to maximizing ", eval_metric[1],end='\n')

the model below has been predicted by topn cols (rfe) wrt to maximizing  f1

In [44]:
predicted_wrt_evaluationmetrics[1]

array([1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0.,
       1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0.,
       0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0.,
       1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0.,
       0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0.,
       1., 1.])

## all columns

In [45]:
model.fit(train_x,train_y)
test_predict = model.predict_proba(test_x)
test_preds=test_predict[:,1]
test_pred=test_preds

In [46]:
for i in range(0, len(test_preds)):
  if(model.predict_proba(test_x)[:,1][i]>breakval_):
    test_pred[i] = 1
  else:
    test_pred[i] = 0

In [47]:
f1(test_y,test_pred)

0.770949720670391

In [48]:
a=model.predict_proba(test_x)[:,1]
ll(test_y,a)

0.43106867292900525

# Confusion matrix

In [49]:
from sklearn.metrics import confusion_matrix
cf= confusion_matrix(test_y, test_pred_cols)
print(cf)

[[112  23]
 [ 19  69]]

In [50]:
cf= confusion_matrix(test_y, test_pred)
print(cf)

[[113  22]
 [ 19  69]]

In [51]:
from sklearn.metrics import classification_report as rep
print(rep( test_y , test_pred_cols ))

              precision    recall  f1-score   support

           0       0.85      0.83      0.84       135
           1       0.75      0.78      0.77        88

    accuracy                           0.81       223
   macro avg       0.80      0.81      0.80       223
weighted avg       0.81      0.81      0.81       223